/* src/App.css */
.todolist {
  width: 400px;
  margin: 0 auto;
}

.main-title {
  text-align: center;
}

.todolist-form .inp-box {
  display: flex;
}

.todolist-form input[type="text"] {
  flex: 1;
}

.todolist-box {
  list-style: none;
  padding: 0;
}

.todolist-box li {
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
}

.chk-box {
  margin-right: 10px;
}
